/* BUTTONS ---------------------------------------------------------------------- */

.blue-button {
    -fx-background-color: #64C9F4;
    -fx-border-color: aliceblue;
}

.blue-button:hover {
    -fx-background-color: #5CC1EC;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.darkgreen-button {
    -fx-background-color: #86BC43;
    -fx-border-color: #E7FFC9;
}

.darkgreen-button:hover {
    -fx-background-color: #7EB43B;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* GRID ---------------------------------------------------------------------- */

#grid {
    -fx-background-image: url("../sprites/board.png");
}

/* ICONS ---------------------------------------------------------------------- */

.dog-white {
    -fx-background-image: url("../sprites/dog_white.png");
}

.dog-blue {
    -fx-background-image: url("../sprites/dog_blue.png");
}

.dog-yellow {
    -fx-background-image: url("../sprites/dog_yellow.png");
}

.dog-red {

    -fx-background-image: url("../sprites/dog_red.png");
}

.person-white {
    -fx-background-image: url("../sprites/person_white.png");
}

.person-blue {
    -fx-background-image: url("../sprites/person_blue.png");
}

.person-yellow {
    -fx-background-image: url("../sprites/person_yellow.png");
}

.person-red {
    -fx-background-image: url("../sprites/person_red.png");
}

.cat {
    -fx-background-image: url("../sprites/cat.png");
}

.tree {
    -fx-background-image: url("../sprites/tree.png");
}

/* MISC & BG ---------------------------------------------------------------------- */

.sky {
    -fx-background-color: #67CFFF;
    -fx-background-image: none;
}

.grass {
    -fx-background-color: #8FCA48;
    -fx-background-image: none;
}

.title {
    -fx-background-size: cover;
    -fx-background-image: url("../sprites/title.png");
}

/* MENU UTIL ---------------------------------------------------------------------- */

/* SCROLL PANE */

.scroll-bar:vertical .track{
    -fx-background-color: #86BC43;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E7FFC9;
}

.scroll-pane {
    -fx-border-color: #8FCA48;
}

.viewport {
    -fx-background-color: #8FCA48;
    -fx-border-color: #8FCA48;
}

.scroll-pane .corner {
    -fx-background-color: #86BC43;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button {
    -fx-border-color: #86BC43;
    -fx-background-color: #86BC43;
}

.scroll-pane .increment-arrow, .scroll-pane .decrement-arrow {
    -fx-background-color: #E7FFC9;
}

/* SLIDER */

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: #51A5C6;
}

.slider .thumb:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* COMBO BOX */

.combo-box {
    -fx-background-color: #64C9F4;
    -fx-text-fill: aliceblue;
    -fx-border-color: aliceblue;
    -fx-border-radius: 5;
}

.combo-box .arrow {
    -fx-background-color: aliceblue;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #54B9E4;
    -fx-text-fill: aliceblue;
    -fx-border-color: aliceblue;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4CB1DC;
    -fx-text-fill: aliceblue;
    -fx-border-color: aliceblue;
}

.combo-box .list-cell:selected {
    -fx-text-fill: white;
}

.combo-box:hover {
    -fx-background-color: #60C5F0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* GRID PANE */

.grid {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.level-button {
    -fx-background-color: transparent;
}

.level-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}